<div class="container-fluid">
  <div class="row header">
    <div class="col-md-4 col-xs-8 map-input-div">
      <%= text_field_tag "location", nil,  class: "map-input", placeholder: "Location" %>
    </div>  
    <div class="col-md-2 col-xs-4 map-button-div">
      <%= button_tag "Search", class: "btn btn-primary map-button", id: "search-button" %>
    </div>
    <div class="col-md-2 col-xs-4 map-button-div">
      <%= button_tag "Route", class: "btn btn-primary map-button", id: "route-button" %>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-8 map-conteiner" id="map-div"></div>
    <div class="col-md-4">
      <div class="packery">
        <% 10.times do |index| %>
          <div class="item">
            <%= text_field_tag "item", nil,  class: "item-input", placeholder: "Place", :readonly => true, data: { index: index } %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-8 clear-button-div">
      <%= button_tag "Clear", class: "btn btn-primary map-button", id: "clear-button" %>
    </div>
  </div>
</div>
