<div class="container-fluid">
  <div class="row header">
    <div class="col-md-5 col-md-offset-3 col-xs-12 map-input-div">
      <%= text_field_tag "location", nil,  class: "map-input", placeholder: "Location" %>
    </div>  
    <div class="col-md-2 col-xs-6 map-button-div">
      <%= button_tag "Search", class: "btn btn-primary map-button", id: "search-button" %>
    </div> 
    <div class="col-md-2 col-xs-6 map-button-div">
      <%= button_tag "Clear Map", class: "btn btn-primary map-button red-button", id: "clear-button" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 map-conteiner" id="map-div"></div> 
        <div class="route-info">
          <div class="route-info-text">
            Speed: <span id="speed-text">0 km/h</span>
          </div>
          <div class="route-info-text">
            Distance: <span id="distance-text">0 km/h</span>
          </div>
          <div class="route-info-text">
            Coordenates: <span id="coordenates-text"></span>
          </div>
        </div>
      </div>
      <div class="row map-footer">
        <div class="col-md-6 col-xs-12 map-input-div">
          <%= text_field_tag "route_name", nil,  class: "map-input", placeholder: "Route Name" %>
        </div>  
        <div class="col-md-3 col-xs-6 map-button-div">
          <%= button_tag "Save Route", class: "btn btn-primary map-button", id: "save-route-button" %>
        </div>
        <div class="col-md-3 col-xs-6 map-button-div">
          <%= button_tag "Get Route", class: "btn btn-primary map-button", id: "get-route-button" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="packery">
          <% 10.times do |index| %>
            <div class="item">
              <%= text_field_tag "item", nil,  class: "item-input", placeholder: "Place", :readonly => true, data: { index: index } %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row item-footer">
        <div class="col-md-4 col-xs-4 clear-button-div place-button-div">
          <%= button_tag "Route", class: "btn btn-primary map-button", id: "route-button" %>
        </div>
        <div class="col-md-4 col-xs-4 place-button-div">
           <%= select_tag "speed", options_for_select([["Baja - 3 min", "1"], ["Media - 1 min", "2"], ["Alta - 15 seg", "3"]]), class: "map-select" %>
        </div>
        <div class="col-md-4 col-xs-4 clear-button-div place-button-div">
          <%= button_tag "Start", class: "btn btn-primary map-button green-button", id: "start-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay"></div>
